*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: border-box;
    }
    .hero{
        height: 400px;
        width:100%;
        background-color: #FFF9F9;
        
    }
    .nav{
        height: 45px;
        display: flex;
        justify-content: end;
        padding-top: 15px;
        margin-right: 20px;
        margin-bottom: 50px;
    }

    button{
        width: 120px;
        margin-right: 20px;
        border:2px solid #0A5247;
        border-radius: 15px;
        background-color: #FFF9F9;
        font-size: 15px;
    }
    button:active{
        background-color: #0A5247;
        color: #FFF9F9;
    }
    button:hover{
        background-color: #0A5247;
        color: #FFF9F9;
    }
    
    .writing{
        height: 250px;
        width: 50%;
        display: flex;
        justify-content:left;
        color: #0A5247;
        padding-left: 140px;
        padding-bottom: 24%;
    }
    p{
        font-size: 20px;
        font-weight: 12%;
    }
    .foot{
        height: 32px;
        background-color: #A3C468;
        margin-top: 8.9%;
    }
.pic-box{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height:400px;
    background-color: #FFF9F9;
}
.picture{
   margin-top: 23.4%;
    padding-left:20% ;
}


    